<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Curbto.me - free stuff, delivered.</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>

    <!-- Logo -->
    <a href="/"><img id="logo" src="../static/graphics/white_logo.png" /></a>
      <!-- Main component for a primary marketing message or call to action -->
          <p id="title">SumThisToMe <span class="options"></span></p>
          <form action="." method="POST" target="formDestination">
            <input type="text" name="text">
            <input type="submit" name="my-form" value="SumITBITCH">
          </form>
          <iframe name="formDestination"></iframe>
  </body>
</script>
</html>
